body {
	color: rgb(97, 5, 97);
	background-color: rgb(245, 244, 194);
	max-width: 720px;
	margin: auto;
	font-size: 18px;
}

code {
	border-radius: 0.5rem;
	background-color: coral;
	display: flex;
	padding: 10px;
	white-space: pre;
}
